.main-container {
    background-color: #070606;
    color: #6c2626;
    height: 50px;
    display: flex;
    justify-content: right; /* Align content to the right */
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

/* .main-container:hover {
    background-color: #40423ea7;
} */

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 30px; /* Add space between links */
    transition: transform 0.3s;
}

li:hover {
    transform: translateY(-3px);
}

a {
    text-decoration: none;
    color: greenyellow;
    transition: color 0.3s;
}

a:hover {
    color: #ff0;
}
