.login-container{
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #c8c8c8;
    background-color: #f9f9f9;
    border-radius: 10px ;
}

.login-input{
margin-bottom: 15px;
}

.login-input input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc ;
    border-radius: 5px;
    box-sizing: border-box;
}
